<%- include("partials/header")%>

<div class="container-fluid">
    <div class="row gx-0">
        <div>
            <form action="">
                <div class="col-6">

                </div>
                <div class="col-6 mt-5">
                    <input type="file">
                </div>
                <div>
                    <div class="mb-4 mt-5">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="email" class="input form-control bg-x" placeholder="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <select name="" id="Categoria">  
                            <option value="1">Mother</option>
                            <option value="2">Procesador</option>
                            <option value="3">RAM</option>
                            <option value="4">Placa de Video</option>
                            <option value="5">Fuente</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <select name="" id="Sub-Categoria">  
                            <option value="1">xd</option>
                            <option value="2">Gigabyte</option>
                            <option value="3">Aorus</option>
                            <option value="4">Intel</option>
                            <option value="5">Corsair</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <select name="" id="marca">  
                            <option value="1">AMD</option>
                            <option value="2">Gigabyte</option>
                            <option value="3">Aorus</option>
                            <option value="4">Intel</option>
                            <option value="5">Corsair</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="email" class="input form-control bg-x" placeholder="Precio" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="email" class="input form-control bg-x" placeholder="Descripcion" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="d-flex justify-content-around">
                        <button type="reset" class="btn btn-secondary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer")%>