<%- include("partials/head")%>
<%- include("partials/header")%>
<div>
       
        <a href="#" class="btn btn-dark d-grid gap-2 col-6 mx-auto mt-5 mb-4" role="button" data-bs-toggle="button">Toggle link</a>
        <a href="#" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-4" role="button" data-bs-toggle="button">Toggle link</a>
        <a href="#" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-4" role="button" data-bs-toggle="button">Toggle link</a>
        <a href="#" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-4" role="button" data-bs-toggle="button">Toggle link</a>
        <a href="#" class="btn btn-dark d-grid gap-2 col-6 mx-auto mb-5" role="button" data-bs-toggle="button">Toggle link</a>
           
</div>
<%- include("partials/footer")%>