<%- include("partials/head")%>
  <%- include("partials/header")%>
  <section>
    <ul id="carrito" class="container d-flex carrito">
      </ul>
      
    <div class="botones">
    
    <button id="comprar" class="btn" onclick="comprar('comprarTodo')"><i class="fas fa-cart-plus"></i>Comprar todo</button>
    <button id="vaciar" class="btn" onclick="eliminar('eliminarTodo')">Vaciar carrito</button>
    </div>
  </section>
          
            </div>
          <section class="sliderpc">
            <div>
              <div class="slider owl-carousel">
                <div class="card">
                  <div class="img">
                    <img src="/images/procesador1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Procesador</div>
                    <div class="price">$123</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="img">
                    <img src="/images/ram1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Mother piola</div>
                    <div class="price">$2345</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="img">
                    <img src="/images/ram1.jpg" alt="">
                  </div>
                  <div class="content">
                    <div class="title">Mother piola</div>
                    <div class="price">$2345</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i>Comprar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>
    </div>
    </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
    <%- include("partials/footer")%>
    <script src="/javascripts/productosCarrito.js"></script>
   
  </body>