<%- include("partials/head")%>
  <%- include("partials/header")%>

    <body>
      <div class="container text-start form">
        <section class="principal">
          <div class="row detalle">
            <div class="col-12 titulo">
              <h2>Detalle de producto </h2>
            </div>
            <div class="contenido">
              <div class="contenido text-left">
                <div class="row p-0">
                  <div class="col-12 col-lg-8">
                    <figure class="text-center bg-white">
                      <img
                        src="https://http2.mlstatic.com/pc-gamer-armada-cpu-intel-core-i7-8700-ddr4-1tb-hdmi-vga-D_Q_NP_799971-MLA31147897175_062019-F.webp"
                        class="img-fluid detail">
                    </figure>
                  </div>
                  <div class="col-12 col-lg-4 datos">
                    <h3 class="my-4">
                      Combo PC Gamer
                    </h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, cum! Lorem ipsum dolor sit
                      amet consectetur adipisicing elit. Alias, illo, voluptas mollitia repellat exercitationem earum
                      sequi temporibus facilis deleniti quis excepturi odit voluptate laborum corrupti?
                    </p>
                    <h2>
                      $100.000
                    </h2>
                    <p><i class="fas fa-credit-card mr-3 my-2"></i> Pagá en 12 cuotas sin interés</p>
                    <p><i class="fas fa-store mr-3 my-2"></i> Retiro gratis en locales del vendedor</p>
                    <button class="btn btn-primary mb-2">Comprar ahora</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
      <section>
        <div>
          <h2 class="bg-success text-white">Productos Relacionados</h2>
          <div class="slider owl-carousel">
            <div class="card">
              <div class="img">
                <img src="/images/procesador3.jpg" alt="">
              </div>
              <div class="content">
                <div class="title">Procesador</div>
                <div class="price">$123</div>
                <div class="btn">
                  <button><i class="fas fa-cart-plus"></i>Comprar</button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <img src="/images/mother4.jpg" alt="">
              </div>
              <div class="content">
                <div class="title">Mother piola</div>
                <div class="price">$2345</div>
                <div class="btn">
                  <button><i class="fas fa-cart-plus"></i>Comprar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </section>
      <script>
        $(".slider").owlCarousel({
          loop: true,
          autoplay: true,
          autoplayTimeout: 2000, //2000ms = 2s;
          autoplayHoverPause: true,
        });
      </script>
      <div class="card-mobile mb-3" style="width: 75%;">
        <img src="../images/ram3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nombre del producto</h5>
          <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Comprar</a>
        </div>
      </div>
      <div class="card-mobile mb-3" style="width: 75%;">
        <img src="../images/procesador3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Comprar</a>
        </div>
      </div>
      <div class="card-mobile mb-3" style="width: 75%;">
        <img src="../images/procesador6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Comprar</a>
        </div>
      </div>
      </div>
      </section>
      <%- include("partials/footer")%>