<%- include("partials/header")%>
<body>
  <section>
    <div class="row gx-0">
      <div class="baner w-100">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/baner1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/baner1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/baner4.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="carouselMobile">
    <div class="row gx-0">
      <div class="baner w-100">
        <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="tarjeta">
                <img src="/images/gabinete1.jpg" alt="">
                <h2>nombre Producto 1</h2>
                <p>precio</p>
              </div>            
            </div>
            <div class="carousel-item">
              <div class="tarjeta">
                <img src="/images/mother2.jpg"  alt="">
                <h2>nombre Producto 2</h2>
                <p>precio</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="tarjeta">
                <img src="/images/placa6.jpg" alt="">
                <h2>nombre Producto 3</h2>
                <p>precio</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="carouselTablet">
    <div class="row gx-0">
      <div class="baner w-100">
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="contenedorTarjetas">
               <div class="tarjeta">
                <img src="/images/gabinete1.jpg" alt="">
                <h2>nombre Producto 1</h2>
                <p>precio</p>
              </div>    
              <div class="tarjeta">
                <img src="/images/gabinete1.jpg" alt="">
                <h2>nombre Producto 2</h2>
                <p>precio</p>
              </div> 
              </div> 
            </div>
            <div class="carousel-item">
              <div class="contenedorTarjetas">
                <div class="tarjeta">
                 <img src="/images/gabinete1.jpg" alt="">
                 <h2>nombre Producto 3</h2>
                 <p>precio</p>
               </div>    
               <div class="tarjeta">
                 <img src="/images/gabinete1.jpg" alt="">
                 <h2>nombre Producto 4</h2>
                 <p>precio</p>
               </div> 
               </div> 
            <div class="carousel-item">
              <div class="contenedorTarjetas">
                <div class="tarjeta">
                 <img src="/images/gabinete1.jpg" alt="">
                 <h2>nombre Producto 5</h2>
                 <p>precio</p>
               </div>    
               <div class="tarjeta">
                 <img src="/images/gabinete1.jpg" alt="">
                 <h2>nombre Producto 6</h2>
                 <p>precio</p>
               </div> 
               </div> 
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
<%- include("partials/footer")%>