<!DOCTYPE html>
<html>
  <head>
    <title>cosa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hola esto funca falta poner las rutas</h1>
  </body>
</html>
