<%- include("partials/head") %>
<%- include("partials/header") %>
<h1>Vas a comprar</h1>
<ul id="carrito" class="container d-flex carrito">
</ul>

<h2>Inicia sesión y completa los datos de facturación</h2>
<form action="" id="formulario"> 
    <% if (typeof user != "undefined") { %>
     
 
    <% if (typeof user != 'undefined') { %>
        <i class="fas fa-user"><span class="session"></span></i>
        <span class="user-options">
            <a href="/users/account">Mis datos</a>
            <a href="/users/logout">Cerrar sesión</a>
        </span> 
    <% } else { %>
        <a href="/users/login"><i class="fas fa-user"></i> coso </a>
    <% } %>

    <% } else{%>
        <h2>soy un alfajor</h2>
        <% } %> 
    
<h2>Datos de facturacion</h2>

    <label for="metodoDePago">Metodo de pago</label>
    <select name="metodoDePago" id="metodoDePago">
        <option value="1">Crédito</option>
        <option value="2">Débito</option>
        <option value="3">Efectivo</option>
    </select>
    <label for="numeroTarjeta">Ingresa el numero de la tarjeta</label>
    <input type="text" id="numeroTarjeta">
    <label for="vencimineto">vencimineto</label>
    <input type="text" id="vencimiento">
    <label for="cvc">Ingrese el cvc</label>
    <input type="text" name="cvc" id="cvc">
    <button onclick="postearCompra(event)">Enviar</button>
</form>
<%- include("partials/footer") %>

<script src="/javascripts/productosCarrito.js"></script> 
<script src="/javascripts/notificaciones.js"></script>
<script src="/javascripts/comprar.js"></script>
</body>