<%- include("partials/head") %>
  <%- include("partials/header") %>

    <main class="container mt-2">
      <section class="mt-2">
        <div class="contenedora pepeargento">
          <ul id="carrito" class="container d-flex carrito mt-5">
          </ul>
        </div>
      </section>
    </main>

    <h2 class="text-center bg-success container">Completa los datos de facturación</h2>
    <form action="" id="formularioPago" class="container">
      <div class="row gx-0">
        <select class="form-select form-select-m mb-4 text-muted" aria-label=".form-select-sm example" name="category"
          id="metodoDePago">
          <option value="1">Crédito</option>
          <option value="2">Débito</option>
        </select>

        <div class="mb-4 ">
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="text" class="input form-control bg-x" placeholder="Numero tarjeta" id="tarjeta" name="tarjeta">
          <span class="error" id="tarjetaErrors"></span>
        </div>
        <div class="mb-4 ">
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="month" class="input form-control bg-x" placeholder="Vencimiento" id="vencimiento"
            name="vencimiento">
          <span class="error" id="vencimientoErrors"></span>
        </div>
        <div class="mb-4 ">
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="text" class="input form-control bg-x" placeholder="CVC" id="cvc" name="cvc">
          <span class="error" id="cvcErrors"></span>
        </div>
        <div class="mb-5 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" onclick="postearCompra(event)">Comprar</button>
        </div>
      </div>
      </div>
    </form>

    <!-- 
<h2>Datos de facturacion</h2>

    <label for="metodoDePago">Metodo de pago</label>
    <select name="metodoDePago" id="metodoDePago">
        <option value="1">Crédito</option>
        <option value="2">Débito</option>
        <option value="3">Efectivo</option>
    </select>
    <label for="numeroTarjeta">Ingresa el numero de la tarjeta</label>
    <input type="text" id="numeroTarjeta">
    <label for="vencimineto">vencimineto</label>
    <input type="text" id="vencimiento">
    <label for="cvc">Ingrese el cvc</label>
    <input type="text" name="cvc" id="cvc">
    <button onclick="postearCompra(event)">Enviar</button>
</form>-->
    <a href="#arriba"><input type="button" class="up"></a>
    <%- include("partials/footer") %>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="/javascripts/productosCarrito.js"></script>
      <script src="/JS/buy.js"></script>
      <script src="/javascripts/notificaciones.js"></script>
      <script src="/javascripts/comprar.js"></script>
      </body>