<%- include("partials/head")%>
<%- include("partials/header")%>

<main class="container mt-2 mb-2">
  
   <section class="contenedora">
    <div class="container">
    <div class="row">
    <div class="slider owl-carousel">
      <div class="card col-3">
        <div class="img">
        <img src="/images/procesador3.jpg" alt="">
        </div>
        <div class="content">
          <div class="title">Procesador</div>
          <div class="price">$123</div>
        <div class="btn">
            <button><i class="fas fa-cart-plus"></i> Comprar</button>
        </div>
        </div>
      </div>
        <div class="card col-3">
          <div class="img">
          <img src="/images/mother4.jpg" alt=""></div>
            <div class="content">
              <div class="title">Mother piola</div>
              <div class="price">$2345</div>
                <div class="btn">
                  <button><i class="fas fa-cart-plus"></i> Comprar</button>
                </div>
            </div>
          </div>
          <div class="card col-3">
            <div class="img">
            <img src="/images/mother4.jpg" alt=""></div>
              <div class="content">
                <div class="title">Mother piola</div>
                <div class="price">$2345</div>
                  <div class="btn">
                    <button><i class="fas fa-cart-plus"></i> Comprar</button>
                  </div>
              </div>
            </div>
            <div class="card col-3">
              <div class="img">
              <img src="/images/mother4.jpg" alt=""></div>
                <div class="content">
                  <div class="title">Mother piola</div>
                  <div class="price">$2345</div>
                    <div class="btn">
                      <button><i class="fas fa-cart-plus"></i> Comprar</button>
                    </div>
                </div>
              </div>
              <div class="card col-3">
                <div class="img">
                <img src="/images/mother4.jpg" alt=""></div>
                  <div class="content">
                    <div class="title">Mother piola</div>
                    <div class="price">$2345</div>
                      <div class="btn">
                        <button><i class="fas fa-cart-plus"></i> Comprar</button>
                      </div>
                  </div>
                </div>
                <div class="card col-3">
                  <div class="img">
                  <img src="/images/mother4.jpg" alt=""></div>
                    <div class="content">
                      <div class="title">Mother piola</div>
                      <div class="price">$2345</div>
                        <div class="btn">
                          <button><i class="fas fa-cart-plus"></i> Comprar</button>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
     <!-- <div class="tarjeta bg-success">
       <img src="/images/fuente1.jpg" alt="" class="imagenTarjeta">
       <h5 class="tituloTarjeta bg-success"> <a href="/products/category/2">Fuentes</a></h5>
     </div>
    
     <div class="tarjeta bg-success">
      <img src="/images/gabinete1.jpg" alt="" class="imagenTarjeta">
      <h5 class="tituloTarjeta bg-success"><a href="/products/category/3">Gabinetes</a></h5>
    </div>
    <div class="tarjeta bg-success">
      <img src="/images/mother1.jpg" alt="" class="imagenTarjeta">
      <h5 class="tituloTarjeta bg-success"><a href="/products/category/1">MotherBoards</a></h5>
    </div>    
    <div class="tarjeta bg-success">
     <img src="/images/placa1.jpg" alt="" class="imagenTarjeta">
     <h5 class="tituloTarjeta"><a href="/products/category/8">Placas de video</a></h5>
   </div>
   <div class="tarjeta bg-success">
     <img src="/images/procesador1.jpg" alt="" class="imagenTarjeta">
     <h5 class="tituloTarjeta"><a href="/products/category/5">Procesadores</a></h5>
   </div>
   <div class="tarjeta bg-success">
    <img src="/images/ram1.jpg" alt="" class="imagenTarjeta">
    <h5 class="tituloTarjeta"><a href="/products/category/6">Memorias RAM</a></h5>
  </div>
  <div class="tarjeta bg-success">
   <img src="/images/teclado1.jpg" alt="" class="imagenTarjeta">
   <h5 class="tituloTarjeta"><a href="/products/category/4">Perifericos</a></h5>
 </div>
 <div class="tarjeta bg-success">
   <img src="/images/cooler1.jpg" alt="" class="imagenTarjeta">
   <h5 class="tituloTarjeta"> <a href="/products/category/7">Disipadores</a></h5>
 </div> -->
   </section>
</main>
<%- include("partials/footer")%>
</body>