<%- include("partials/head")%>
<%- include("partials/header")%>

<main class="container mt-2 mb-2">
  
   <section class="contenedora">
    
     <div class="tarjeta">
       <img src="/images/fuente1.jpg" alt="" class="imagenTarjeta">
       <h5 class="tituloTarjeta"> <a href="/products/fuentes">Fuentes</a></h5>
     </div>
    
     <div class="tarjeta">
      <img src="/images/gabinete1.jpg" alt="" class="imagenTarjeta">
      <h5 class="tituloTarjeta"><a href="/products/gabinetes">Gabinetes</a></h5>
    </div>
    <div class="tarjeta">
      <img src="/images/mother1.jpg" alt="" class="imagenTarjeta">
      <h5 class="tituloTarjeta"><a href="/products/motherboards">MotherBords</a></h5>
    </div>
    <div class="tarjeta">
      <img src="/images/mouse1.jpg" alt="" class="imagenTarjeta">
      <h5 class="tituloTarjeta"><a href="/products/mouses">Mouses</a></h5>
    </div>
    <div class="tarjeta">
     <img src="/images/placa1.jpg" alt="" class="imagenTarjeta">
     <h5 class="tituloTarjeta"><a href="/products/placas">Placas de video</a></h5>
   </div>
   <div class="tarjeta">
     <img src="/images/procesador1.jpg" alt="" class="imagenTarjeta">
     <h5 class="tituloTarjeta"><a href="/products/procesadores">Procesadores</a></h5>
   </div>
   <div class="tarjeta">
    <img src="/images/ram1.jpg" alt="" class="imagenTarjeta">
    <h5 class="tituloTarjeta"><a href="/products/memorias">Memorias RAM</a></h5>
  </div>
  <div class="tarjeta">
   <img src="/images/teclado1.jpg" alt="" class="imagenTarjeta">
   <h5 class="tituloTarjeta"><a href="/products/teclados">Teclados</a></h5>
 </div>
 <div class="tarjeta">
   <img src="/images/cooler1.jpg" alt="" class="imagenTarjeta">
   <h5 class="tituloTarjeta"> <a href="/products/coolers">Coolers</a></h5>
 </div>
   </section>
</main>
<%- include("partials/footer")%>