<form action="/users/register" method="POST" > 
    <input type="email" name="email" placeholder="Ingresa tu email" ><br>
    <% if (typeof errors != 'undefined') { %>
        <ul>
       <% errors.forEach(element => { %>
        <% if (element.param == 'email') { %>
          <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
        <% } %>
       <% }) %>
      </ul>
      <% } %>
      <input type="password" class="form-control bg-x" name="adress" placeholder="Ingresa tu contraseña"><br>
                  <% if (typeof errors != 'undefined') { %>
                    <ul>
                   <% errors.forEach(element => { %>
                    <% if (element.param == 'adress') { %>
                      <li class="alert alert-warning" role="alert"><%=element.msg  %> </li>
                    <% } %>
                   <% }) %>
                  </ul>
                  <% } %>
        <input type="password" class="form-control bg-x" name="adress2" placeholder="Confirma tu contraseña"><br>
        <button type="submit">registrarse</button>
</form>