<%- include("partials/head")%> 
<%- include("partials/header")%> 



<div class="container">
  <div class="row">
    <div class="slider">
    <div class="card col-3">
      <div class="img">
      <img src="/images/procesador3.jpg" alt="">
      </div>
      <div class="content">
        <div class="title">Procesador</div>
        <div class="price">$123</div>
      <div class="btn">
          <button><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
      </div>
    </div>
    <div class="card col-3">
      <div class="img">
      <img src="/images/procesador3.jpg" alt="">
      </div>
      <div class="content">
        <div class="title">Procesador</div>
        <div class="price">$123</div>
      <div class="btn">
          <button><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
      </div>
    </div>
    <div class="card col-3">
      <div class="img">
      <img src="/images/procesador3.jpg" alt="">
      </div>
      <div class="content">
        <div class="title">Procesador</div>
        <div class="price">$123</div>
      <div class="btn">
          <button><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
      </div>
    </div>
    <div class="card col-3">
      <div class="img">
      <img src="/images/procesador3.jpg" alt="">
      </div>
      <div class="content">
        <div class="title">Procesador</div>
        <div class="price">$123</div>
      <div class="btn">
          <button><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>



<%- include("partials/footer")%> 
<script src="/javascripts/carritoDos.js" ></script>

</body>