<%- include("partials/head")%> 
<%- include("partials/header")%> 
<h2 class="text-center mt-5 mb-3">No se encontraron resultados</h1>
    <h1 class="text-center mb-5"><i class="far fa-frown"></i></h1>
<a href="#arriba"><input type="button" class="up"></a>
<%- include("partials/footer")%> 
</body>