.admin-title{
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
}
.btn{
    border-radius: 20px
}
p{
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

p.mensaje{
    margin-left: 20px;
}

ul li.alert{
    padding: 0 !important;
}

ul li .alert{
    margin-right: 0;
}

textarea { resize: none; }

.enviar-mensaje{
    width: 1% ;
    height: 50%;
}

div .usuarios{
    margin-left: 10px;
    
}
div button.enviar-mensaje {
    margin-right: 10px;
}

#img-preview img{
    height: 350px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

@media(min-width:426px){
    .admin{
        padding-left: 20%;
        padding-right: 20%;
    }                
}

@media(min-width: 1024px){
    body{
        background-color: rgb(238, 238, 238);
    }
    textarea.textarea{
        
        margin-left: 41px;
        
        border-radius: 41px;
    }
    
    div.pepeargento{
        background-color: white;
        -webkit-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        padding: 10px;
        height: 90%;
        margin: 30px auto;
        border-radius: 15px;
    }
    
    div .usuarios{
        
        
    width: 150px
    }
    div button.enviar-mensaje {
        
        margin-left: -3%;
        width: 77px;
    }
    }