.admin-title{
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
}

.enviar-mensaje{
    width: 1% ;
    height: 50%;
}

@media(min-width:426px){
    .admin{
        padding-left: 20%;
        padding-right: 20%;
    }                
}