.admin-title{
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white;
}

p{
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

li{
    padding: 0 !important;
}

ul li .alert{
    margin-right: 0;
}

textarea { resize: none; }

.enviar-mensaje{
    width: 1% ;
    height: 50%;
}

@media(min-width:426px){
    .admin{
        padding-left: 20%;
        padding-right: 20%;
    }                
}