:root{
    --primary: #212121;
    --secondary: #323232;
    --tertiary: #0d7377;
    --quaternary: #14ffec;
    --success: #198754;
}
 
#busquedaMobile{
    border-radius: 150px 0px 0px 150px;
-moz-border-radius: 150px 0px 0px 150px;
-webkit-border-radius: 150px 0px 0px 150px;
}
#busquedaEscritorio{
    border-radius: 150px 0px 0px 150px;
-moz-border-radius: 150px 0px 0px 150px;
-webkit-border-radius: 150px 0px 0px 150px;
border: 0px solid #000000;
}
.crecer{
    margin-bottom: 300px;
    transition: 1s all;
}
.cierraSesionEscritorio{
    cursor: pointer;
}

#categorias{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}
.listaCosas{
    list-style: none;
    display: flex;
    transition: 1s all;
    align-items: center;
    justify-content: center;
    left: -10000px;
    position: absolute;
    height: 0;
    z-index: 2;
    
}
.listaCosas a{
    text-decoration: none;
    color: white;
}
.listaCosas li{
    list-style: none;
    width: 200px;
    transition: 1s all;
    padding: 5px;
    border-radius: 20px;
}
.listaCosas li:hover{
    background-color:var(--success);
}
.listaCosas li:hover~#cierreSesion{
    background-color: blue;
}
.listaCosas img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0;
}
.aparecenCosas{
  display: flex;
  margin-bottom: 0;
  height: 300px;
  visibility: visible;
  width: 100%;
  margin: 0;
  padding: 10px; 
  left: 0;
  transition: 1s all;
}
#cosa{
    cursor:pointer;
}
/*configuraciones basicas mas la tipografia elegida*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.neon{
    display:  none;
}
.contenedorSesion{
    width: 200px;
    display: flex;
    align-items: center;
    color: white;
    justify-self: center;
}
div.contenedorSesion img{
    object-fit: cover;
}

.contenedorCarrito{
    position: relative;
}
.notificacion{
    width: 25px;
    height: 25px;
    background-color: #ff1414;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: absolute;
    right: -5px;
    top: -10px;
}
#check{
    display: none;
}
#cierreSesion{
    border-style: none;
    outline: none;
    background-color:rgb(41, 43, 44);
}

#cierreSesion:active{
    outline: none;
    border-style: none;
}
#perfil{
    font-size: 1em;
}

/*nav mobile*/
.form{
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
}
nav{
    position: relative;
    /*overflow hidden para que no se vea el desplegable*/
    overflow: hidden;
}
/*el header contiene todo asi que tiene position sticky para que quede fijo*/
header{
    /*position: fixed;*/
    position: sticky;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1000;
}
/*grupo de cosas que no se muestran en mobile y tampoco en tablet*/
.contacto{
    display: none;
}
.navegacionDesktop{
    display: none;
}
/* FUNCION PENDIENTE DE APROBACION
.cosas{
    display: none;
}
#cosa{
    display: none;
    color:white;
}*/
.sponsors {
    display: none;
}
.buscadorDesktop{
    display: none;
}
/* FUNCION PENDIENTE DE APROBACION
.listaCosas{
    display: none;
}*/
/*aca empezamos a darle forma al menu en esta seccion instituacional
aparecen el logo el nombre y el carrito*/
div .buscador{
    background-color: var(--secondary);
}

#cierreSesion{
    background: none;
}

.institucional{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
    padding: 5px;
    margin-top: 0;
    border-top: 1px solid rgba(100,100,100,1);
}
.institucional img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.category{
    padding: 6px;
    color: white;
    border-radius: 50px;
}
.institucional a{
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
.institucional h1{
    margin-left: 30px;
    color: white;
}
.institucional i{
    font-size: 40px;
}
/*en la parte de buscador aparece un pequeño buscador y el boton que da 
hace bajar el menu desplegable*/
.buscador{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(100,100,100,1);
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}
.buscadorEnSerio{
    display: flex;
    justify-content: space-between;
    
}

div a.a{
    font-size: 16px;
}

.buscador form .buscadorEnSerio input{
    outline: none;
    width: 60vw;
    padding-left: 10px;
}
.buscador form .buscadorEnSerio .contenedor_lupaMobile{
    border-radius: 0px 150px 150px 10px;
    -moz-border-radius: 0px 150px 150px 10px;
    -webkit-border-radius: 0px 150px 150px 10px;
    height: 27px;
}

div.pepeargento{
    background-color: white;
    -webkit-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    padding: 10px;
    height: 90%;
    margin: 50px auto;
    border-radius: 15px;
}

button .hover{
    background-color: chartreuse;
}

ul {
    margin-bottom: 0;
}

.buscador form .buscadorEnSerio button{
    outline: none;
    color:white;
    background-color: black;
    width: 35px;
    height: 28px;
    border-radius: 5px;
    border: none;
}

.buscador .lupaMobile{
    font-size: 20px;
}

.buscador form .buscadorEnSerio .contenedor_lupaMobile{
    padding: 4px 2px;
    background-color: rgb(65, 138, 89);
    display: flex;
    align-items: center;
}
#boton{
    padding: 5px;
    width: 30px;
}
.buscador   i{
    color: aliceblue;
    font-size: 28px;
}
.buscador img{
    display: none;
}
.buscador h1{
    display: none;
}
.buscador .iconoBarras{
    padding: 0;
    width: 10px;
}
/*navegacion es el menu desplegable que baja al apretar el 
boton*/
#nav{
    display: block;
}
.navegacion{
    width: 100%;
    /*position: absolute;*/
    position: relative;
    top: -500px;
    background-color: black ;
    transition: 2s all;
    padding: 0;
    list-style: none;
    z-index: -100;
    height: 0;

}
.navegacion li{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid  rgb(255, 255, 255);
}
.navegacion li a{
    color: white;
    text-decoration: none;
}
.sesionResponsive{
    align-items: center;
}
.sesionResponsive a{
    text-decoration: none;
    color:white;

}
/*la clase aparecer se aplica con js sobre el menu desplegable 
logrando que aparezca*/
.aparecera{
    top: 0;
    transition: 2s all;
    z-index: 2;
    height: 100%;
   
    
}
/* Configuro el tamano de img Seagate(Sponsor) */
div img.seagate{
    width: 75px;
    height: 47px;
}
div figure img.detail{
    width: 600px;
}
/* Estilo de boton UP */
.up{
    position: fixed;
    bottom: 15px;
    right:  15px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url("/images/uparrow.png");
    background-size: cover;
    background-color: transparent;
  }
  .up:hover{
      background-color: black;
      width: 55px;
      height: 55px;
      background-size: cover;
  }
  ul.footer li a{ 
      text-decoration: none;
      color: white;
  }
  ul.footer li:hover{
    font-size: 17px;
  }
  ul.footer li a:hover{
    font-size: 17px;
  }
/*version tablet*/
@media (min-width: 700px){
div.footer{
    text-align: start;
}
    header{
        width: 100%;
    }
    /*.sesionResponsive{
        display: none;
    }*/
    .sesion{
        display: none;
    }
    .institucional{
        padding: 10px;
    }
    .contacto{
        display: flex;
        justify-content: center;
        width: 300px;
        font-size: 2em;
        align-items: center;
    }
   
    .contacto a{
        display: flex;
        text-decoration: none;
        margin: 0;
        color: white;
        align-items: center;
        font-size: .7em;
        
    }
    .contacto i{
        font-size: 1em;
    }
    .buscador{
        padding: 5px 20px;
    }
    .buscador form .buscadorEnSerio input{
        width: 40vw;
    }
    .buscador form .buscadorEnSerio i{
        display: block;
    }
    .navegacion li{
        height: 50px;
        font-size: 1.5em;
        padding: 10px;
    }
    .aparecer{
        height: 100%;
    }
    #contenedor{
        height: 50px;
    }
    /*.ultimoLi{
        display: none;
    }*/
}
/*version desktop*/
.girar:hover{
    animation-name: girar;
    animation-duration: 0.5s;
    transition: 0.5s;
}
@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-45deg);  
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (min-width:1024px){
    header{
        position: static;
        z-index: 100;
        top: 0;
    }
    input#busquedaEscritorio{
        height: 24px;
    }
    .contenedor-lupaDesktop{
        border-radius: 0px 150px 150px 0px;
    -moz-border-radius: 0px 150px 150px 0px;
    -webkit-border-radius: 0px 150px 150px 0px;
    border: 0px solid #000000;
    }
    form#buscadorEscritorio{
        margin-right: -94px;
            border-radius: 0px 150px 150px 0px;
        -moz-border-radius: 0px 150px 150px 0px;
        -webkit-border-radius: 0px 150px 150px 0px;
        border: 0px solid #000000;
        
    }
    nav{
        overflow: visible;
        position: static;
       
    }
    .sponsors{
       position: static;
    }
    
    
    .sponsors{
        background-color: black;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .sponsors img{
        width: 75px;
    }
    
    .sponsors p{
        color:white;
        display: flex;
        align-items: center;
        margin: 0;
    }
    div.sponsors i.telefonito{
        transform:rotate(90deg)
    }
    div.sponsors p{
        margin: 0 18px;
    }
    div.sponsors p a{
        margin: 0 5px;
        text-decoration: none;
        color: white;
    }
    .buscador{
        position: static;
        justify-content: space-between;
        display: none;
        top: 0;
    }
    .buscador #boton{
        display: none;
    }
    .institucional{
        background-color:	rgb(41, 43, 44) ;
    }
    .buscadorEnSerioDesktop{
        margin-right: 100px;
    }
    .buscadorDesktop{
        display: flex;
        width: 700px;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 2px;

        
    }
    .buscadorDesktop form .buscadorEnSerioDesktop input{
        outline: none;
        width: 20vw;
    }
    .buscadorDesktop form .buscadorEnSerioDesktop{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buscadorDesktop form .buscadorEnSerioDesktop button{
        outline: none;
        color:white;
        background-color: rgb(65, 138, 89);
        width: 35px;
        height: 24px;
        padding: 3px;
        border-radius: 5px;
        border: none;
        display: flex;
        align-items: center;
        
        border-radius: 0px 150px 150px 0px;
    -moz-border-radius: 0px 150px 150px 0px;
    -webkit-border-radius: 0px 150px 150px 0px;
    border: 0px solid #000000;
    }
    
    .buscadorDesktop form .buscadorEnSerioDesktop button i{
        font-size: 20px;
    }
    .contactoDesktop{
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .contactoDesktop a{
        display: flex;
        text-decoration: none;
        margin: 0;
        color: white;
        align-items: center;
        font-size: 1.3em;
        margin-left: 10px;
        
    }
    .contactoDesktop i{
        color: white;
        font-size: 2.5em;
    }
    .navegacion{
        display: none;
    }
    .navegacionDesktop{
        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        z-index: 0;
        
        /*background-color:#5cb85c ;*/
        margin: 0;
        height: auto;
        /*padding-left: 200px;*/
    }
    .navegacionDesktop li{
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom-style:none ;
        padding: 10px;
        font-size: 1.4em;
        margin: 0;
        
    }
    
    .navegacion{
        width: 100%;
        /*position: absolute;*/
        position: relative;
        top: -500px;
        background-color: black ;
        transition: 2s all;
        padding: 0;
        list-style: none;
        z-index: -100;
        height: 0;
    
    }
    
    .navegacionDesktop li a{
        color: white;
        text-decoration: none;
    }
    /*
    FUNCIONALIDAD PENDIENTE DE APROBACION
    .lista{
        padding: 0;
        margin: 0;
    }
    .cosas{
        display: block;
    }
    #cosa{
        display: block;
    }
    .listaCosas{
        display: flex;
        background-color: black;
        width: 100%;
        position: relative;
        right: -10px;
        top: -1000px;
        transition: 1s all;
        z-index: -100;
        list-style: none;
        font-size: 2em;
        color: white;
        justify-content: space-evenly;
        padding-left: 0;
        padding: 10px;
        height: 0;
        align-items: center;
        
    }
    .aparecenCosas{
        height: 60px;
        right: 0px;
        top: 0;
        z-index: 0;
        transition: .5s all;
        
    }*/
    footer div.footerCarousel{
        display: none;
    }
    .form{margin-top: 10px;}
   
    #perfil{
        font-size: 1.5em;
    }
}