@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
 .baner img{
  height: 480px;
  object-fit: cover;
}
h2{
  margin-top: 50px;
  block-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(199, 199, 199) ;
  margin-bottom: 40px;
}
 html,body{
   height: 100%;
   place-items: center;
   text-align: center;
   background: #f2f2f2;
}
 .slider{
   max-width: 1100px;
   display: flex;
}
 .slider .card{
   flex: 1;
   margin: 100px 40px;
   background: #fff;
}
 .slider .card .img,.card1{
   height: 200px;
   width: 100%;
}
 .slider .card .img img{
   width: 100%;
   object-fit: contain;
   max-height: 200px;
}
 .slider .card .content{
   padding: 4px 45px;
}
 .card .content .title{
   font-size: 15px;
   font-weight: 600;
}
 .card .content .price{
   font-size: 20px;
   font-weight: 600;
   color: green;
   line-height: 20px;
}
  .card .content p{
   text-align: justify;
   margin: 10px 0;
}
 .card .content .btn{
   display: block;
   text-align: left;
   margin: 10px 0;
}
 .card .content .btn button{
   background: rgb(0, 84, 105);
   color: #fff;
   border: none;
   outline: none;
   font-size: 17px;
   padding: 5px 8px;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.2s;
}
 .card .content .btn button:hover{
   transform: scale(0.9);
}
 .card-mobile{background-color: #fff;border-radius: 10px;}


@media(max-width:426px){
  .card{display: none;}   
  .baner img{max-height: 200px;}
  .card-mobile img{width: 200px;height:220px ;object-fit:scale-down;}
}
@media(min-width:427px){
  .card-mobile{display: none;}
}
@media(min-width:1024px){
  .baner{margin-top: 0px;background-color: #212121;}
}
