@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
   a {
      color: #141619;
      text-decoration: none;
   }
   html,body{
     height: 100%;
     place-items: center;
     text-align: center;
     background: #f2f2f2;
  }
   .slider{
     
     display: flex;
     flex-wrap: wrap;
  }
   .slider .card{
     
     margin: 50px 40px;
     background: #fff;
  }
   .slider .card .img,.card1{
     height: 200px;
     width: 100%;
  }
   .slider .card .img img{
      margin: 1rem 0;
     width: 80%;
     object-fit: cover;
     max-height: 200px;
  }
   .slider .card .content{
     padding: 10px 20px;
  }
   .card .content .title{
     font-family: 'Poppins';
     font-size: 15px;
     font-weight: 600;
     margin-top: 1rem;
  }
   .card .content .price{
     font-size: 20px;
     font-weight: 600;
     color: green;
     line-height: 20px;
  }
    .card .content p{
     text-align: justify;
     margin: 10px 0;
  }
   .card .content .btn{
     display: block;
     text-align: left;
     margin: 10px 0;
  }
   .card .content .btn button{
     background: rgb(0, 84, 105);
     color: #fff;
     border: none;
     outline: none;
     font-size: 17px;
     padding: 5px 8px;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.2s;
  }
   .card .content .btn button:hover{
     transform: scale(0.9);
  }
   div.pepeargento{
      background-color: white;
      -webkit-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
      box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
      padding: 10px;
      height: 90%;
      margin: 50px auto;
      border-radius: 15px;
  }
  img.previewIMG{
     height: 200px;
  }
  @media(max-width: 1024px){
   .slider .card{
      margin: 50px 28px;
   }
  }