.contenedora{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.tarjeta{
    width: 300px;
    height: 350px;
    /*margin: 2.5%;*/
    margin: 10px;
    background-color: rgb(206, 201, 201);
    border-radius: 5px;
    padding: 5px;
    transition: .5s all;
}
a{
    text-decoration: none;
    color: rgb(92, 88, 88);
}
a:hover{
    color:rgb(68, 62, 62) ;
}
.tarjeta:hover{
    box-shadow: 1px 2px 10px 1px rgb(174, 174, 202);
}
.tarjeta img{
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    width: 100%;
    height: 80%;
}
.tarjeta h5{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloTarjeta a{
    color: rgb(31, 31, 31)
}

@media(min-width:1024px){
    .tarjeta{
        width: 25%;
    }
}