html,body{
    height: 100%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
 }
  .slider{
    
    display: flex;
    flex-wrap: wrap;
 }
  .slider .card{
    
    margin: 100px 24px;
    background: #fff;
 }
  .slider .card .img,.card1{
    height: 200px;
    width: 100%;
 }
  .slider .card .img img{
     padding: 10px 0;
    width: 100%;
    object-fit: contain;
    max-height: 200px;
 }
  .slider .card .content{
    padding: 10px 20px;
 }
  .card .content .title{
    font-size: 15px;
    font-weight: 600;
 }
  .card .content .price{
    font-size: 20px;
    font-weight: 600;
    color: green;
    line-height: 20px;
 }
   .card .content p{
    text-align: justify;
    margin: 10px 0;
 }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
 }
  .card .content .btn button{
    background: rgb(0, 84, 105);
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
 }
  .card .content .btn button:hover{
    transform: scale(0.9);
 }
 a{
   text-decoration: none;
   color:black;
 }
 div.pepeargento{
    background-image: url(https://media.gettyimages.com/photos/singer-chayanne-presents-his-new-album-no-hay-imposible-at-the-de-picture-id100964350?s=612x612);
    background-size: cover;
    background-position-y: 1200px;
    -webkit-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
    padding: 10px;
    height: 90%;
    margin: 50px auto;
    border-radius: 15px;
}
 @media(min-width: 1024px){
   .slider .card .img{
      height: 200px;
   }
   .slider .card{
      margin: 50px 38px;
   }
   .slider{
      display: flex;
      align-items: center;
      justify-content: center;
   }
  }