

.enviar-mensaje{
    width: 1% ;
    height: 50%;
}

p{
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

p.mensaje{
    margin-left: 20px;
}

ul li.alert{
    padding: 0 !important;
}

ul li .alert{
    margin-right: 0;
}

.fotoperfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(65, 138, 89);;
}
textarea { resize: none; }

@media(min-width: 1024px){
    body{
        background-color: rgb(238, 238, 238);
    }
    
    div.pepeargento{
        background-color: white;
        -webkit-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 23px 5px rgba(0,0,0,0.75);
        padding: 10px;
        height: 90%;
        margin: 30px auto;
        border-radius: 15px;
    }
    .usuarios{
        width: 10%;
    }
    }