@media(min-width:320px){
    
    .editUser{
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 20px;
        
    }                
}
@media (min-width: 700px){
    .editUser{
        margin-top: 20px;
    }
}
@media (min-width: 1024px){
    .editUser{
        margin-top: 30px;
    }
}