<header>
  <!--esto de sponsors aparece solo en desktop-->
  <div class="sponsors">

    <img src="https://www.fullh4rd.com.ar/img/nav_hyperx.png" alt="">
    <img src="https://www.fullh4rd.com.ar/img/nav_geforce.png" alt="">
    <img src="https://www.fullh4rd.com.ar/img/nav_amd.png" alt="">
    <img src="https://www.fullh4rd.com.ar/img/nav_astro.png" alt="">
    <img src="https://www.fullh4rd.com.ar/img/nav_logitech.png" alt="">
    <img src="https://www.fullh4rd.com.ar/img/nav_seagate.svg" alt="">
    <p>telefono: 1126544311 / mail:pepe@gmail.com</p>
  </div>
  <div class="contenedor">
    <div id="institucional" class="institucional">
      <img class="imagen" src="/images/logo.png" alt="">
      <h1>Vulkan Gaming</h1>
      <!--esto no aparece en el responsive, solo en desktop-->
      <div class="buscadorDesktop">

        <form action="" method="GET">
          <div class="buscadorEnSerioDesktop">
            <input type="text">
            <button class="contenedor__lupaDesktop" type="submit"><i class="lupaDesktop fas fa-search"></i></button>
          </div>
        </form>
        <div class="contactoDesktop">
          <i class="fas fa-user"></i>
          <a href="">Iniciar Sesión</a>
        </div>
      </div>
      <!--estas cosas aparecen en responsive-->
      <div><a href=""><i class="fas fa-shopping-cart"></i></a></div>
    </div>

    <div id="contenedor" class="buscador bg-dark">

      <form action="" method="GET">
        <div class="buscadorEnSerio">
          <input type="text">
          <button class="contenedor_lupaMobile" type="submit"><i class="fas fa-search lupaMobile"></i></button>
        </div>
      </form>
      <div class="contacto">
        <i class="fas fa-user"></i>
        <a href="">Iniciar Sesión</a>
      </div>
      <!--este boton aparece solo en mobile y tablet-->
      <div onclick="cambiar()" id="boton" class="iconoBarras">
        <i class="fas fa-bars"></i>
      </div>

    </div>
    <!--lista que funciona desplegable en mobile y tablet y figura normal en desktop-->
    <nav id="nav" class="lista">
      <ul id="lista" class="navegacion bg-success">
        <li><a href="">Productos</a></li>
        <li><a href="">Armá tu pc</a></li>
        <li><a href="">Encontrá tu equipo</a></li>
        <li><a href="">Soporte</a></li>
        <li class="ultimoLi">
          <div class="sesionResponsive"><i class="fas fa-user"></i>
            <a href="">Iniciar Sesión</a>
          </div>
        </li>
        <!-- <li onclick="aparecen()"id="cosa" class="cosas">cosas</li>-->
      </ul>
      <ul class="navegacionDesktop bg-success">
        <li><a href="">Productos</a></li>
        <li><a href="">Armá tu pc</a></li>
        <li><a href="">Encontrá tu equipo</a></li>
        <li><a href="">Soporte</a></li>
        <!-- <li onclick="aparecen()"id="cosa" class="cosas">cosas</li>-->
      </ul>
    </nav>
    <!--lista de cosas de prueba que estan pendientes de aprobar, recordar borrar si no se aprueban
        <ul id="cosas" class="listaCosas">
          <li>cosa1</li>
          <li>cosa2</li>
          <li>cosa3</li>
        </ul>-->
    <!--acá empiezan los scripts de los desplegables-->
    <!--
          ESTE SCRIPT ES UNA FUNCIONALIDAD PENDIENTE DE APROBACION
          <script>
          const espacio = document.getElementById("espacio")
          const listaCosas = document.getElementById("cosas");
          const cosa = document.getElementById("cosa");
          function aparecen(){
            listaCosas.classList.toggle("aparecenCosas");
           // espacio.classList.toggle("dejarEspacio");
          }
        </script>-->
    <script>

      const institucional = document.getElementById("institucional");
      const lista = document.getElementById("lista");
      const nav = document.getElementById("nav");
      function cambiar() {

        lista.classList.toggle("aparecer");
        lista.style.transition = "1s all";
        //nav.classList.add("muestra");

      }

    </script>
  </div>
</header>